@import 'src/@fuse/scss/fuse';
@import 'src/app/shared/scss/employee-card';

employee-detail {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .employee-header {
    padding: 16px;
    padding-left: 170px;
    border-bottom: 1px solid;
    min-height: 120px;
    position: relative;

    .floor {
      border-left: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .back-to-list {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
  }

  .edit-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .avatar-wrapper {
    border: 5px solid #e1e1e1;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 16px;

    .avatar {
      border: 5px solid #fff;
      margin: 0;
      width: 128px;
      min-width: 128px;
      height: 128px;
      line-height: 128px;
    }
  }

  .yos {
    background: #fff;
    border: 3px solid #e1e1e1;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 109px;
    left: 106px;
    width: 50px;
    height: 50px;

    div {
      font-size: 8px;
    }

    div:first-child {
      font-size: 18px;
      font-weight: 800;
    }
  }

  .employee-action-row {
    padding-left: 150px;
  }

  .employee-content {

    button {
      margin: 0;
    }

    .employee-specs-container {
      padding: 0 0 20px 20px;
    }
  }

  .manager {
    cursor: pointer;
  }

  .direct-reports {
    padding: 0 20px 20px;

    .direct-report {
      cursor: pointer;
      margin-bottom: 20px;
      min-width: 100px !important;
      max-width: 100px !important;
      overflow: visible;
    }
  }
}
