<div *ngIf="!selectedEmployee"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxFlex>
  <mat-icon class="s-120 mb-12 select-employee-icon hint-text"
            [@animate]="{ value: '*', params: { delay: '300ms', scale: '0.2' } }">person
  </mat-icon>
  <span class="hint-text mat-h1 select-employee-text"
        [@animate]="{ value: '*', params: { delay: '400ms' } }">
    Select an employee
  </span>
</div>

<div *ngIf="selectedEmployee">
  <!-- Employee Header -->
  <div class="employee-header"
       fxLayout="column"
       fxLayoutAlign="start start"
       fxLayout.gt-sm="row"
       fxLayoutAlign.gt-sm="space-between center">

    <!-- Name / Title -->
    <div fxFlex.gt-sm="40"
         fxLayout="column"
         fxLayoutAlign="center start"
         fxLayoutAlign.gt-sm="sapce-around start"
         [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
      <div class="mat-title mb-0">{{ selectedEmployee.displayName }}</div>
      <div class="h5 m-0 primary-300-fg">
        <span ng-if="selectedEmployee.jobClassification">{{
          selectedEmployee.jobClassification
          }}</span>
        {{ selectedEmployee.jobTitle }}
      </div>
    </div>
    <!-- Location / Department -->
    <div fxLayout="column"
         fxLayoutAlign="sapce-around center"
         fxFlex
         fxHide
         fxShow.gt-sm
         class="px-16">
      <div class="font-size-14 font-weight-800">
        <div *ngIf="
              selectedEmployee.officeCode &&
              selectedEmployee.officeCode !== 'oth'
            ">
          {{ selectedEmployee.office.city | uppercase }}
        </div>
        <div *ngIf="
              selectedEmployee.officeCode &&
              selectedEmployee.officeCode === 'oth'
            ">
          REMOTE
        </div>
        <div *ngIf="!selectedEmployee.officeCode">UNKNOWN</div>
      </div>
      <div class="primary-300-fg">{{ selectedEmployee.department }}</div>
    </div>
    <!-- Floor -->
    <div fxLayout="column"
         fxLayoutAlign="sapce-around center"
         fxFlex.gt-sm="15"
         fxHide
         fxShow.gt-sm
         class="floor pl-8"
         *ngIf="
          selectedEmployee.officeCode && selectedEmployee.officeCode !== 'oth'
        ">
      <div class="font-size-12 primary-300-fg">FLOOR</div>
      <div class="font-size-24 font-weight-800">
        {{ selectedEmployee.floor }}
      </div>
    </div>

    <!-- Back to List-->
    <div class="back-to-list"
         fxShow
         fxHide.gt-sm
         matRipple
         (click)="backToList()">
      <mat-icon>arrow_back</mat-icon>
    </div>
    <!-- Avatar -->
    <div class="avatar-wrapper mat-elevation-z1">
      <img class="avatar"
           src="/avatars/employees/{{selectedEmployee.image}}"
           [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }" />
    </div>
    <!-- Years of Service -->
    <div *ngIf="selectedEmployee.yearsOfService"
         class="yos accent mat-elevation-z2"
         fxLayout="column"
         fxLayoutAlign="center center"
         (click)="viewYearsOfService(selectedEmployee.yearsOfService)"
         [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">
      <div>{{ selectedEmployee.yearsOfService }}+</div>
      <div>YEARS</div>
    </div>
    <!-- Edit Button -->
    <button mat-raised-button
            class="edit-button"
            *ngIf="userService.isAuthenticated && (userService.currentUser?.eid === selectedEmployee.eid || userService.isAdmin)"
            [routerLink]="['/apps/admin/employee/admin', {eid: selectedEmployee.eid}]">
      <mat-icon class="mr-4">edit</mat-icon>Edit
    </button>
  </div>

  <!-- Employee content -->
  <div class="employee-content"
       fxLayout.gt-sm="row"
       fxLayoutAlign.gt-sm="space-between start"
       fxLayout="column"
       fxLayoutAlign="start center"
       [@animateStagger]="{ value: '50' }">
    <!-- Left Side -->
    <div class="employee-specs-container"
         fxLayout="column"
         fxLayoutAlign="start start"
         fxLayoutGap="20px"
         fxFlex="100"
         fxFlex.gt-sm="50%"
         fxFlexFill
         [@animate]="{ value: '*', params: { y: '100%' } }">
      <div class="employee-action-row mb-20"
           fxLayout="row"
           fxLayoutAlign="center center">
        <button mat-icon-button
                color="accent"
                (click)="mailto(selectedEmployee.email)">
          <mat-icon aria-label="email">email</mat-icon>
        </button>
        <button mat-icon-button
                color="accent"
                *ngIf="
            selectedEmployee.officeCode && selectedEmployee.officeCode !== 'oth'
          "
                (click)="mapEmployee(selectedEmployee)">
          <mat-icon aria-label="find">person_pin_circle</mat-icon>
        </button>
        <button mat-icon-button
                color="accent"
                (click)="chatto(selectedEmployee.email)">
          <mat-icon aria-label="chat"
                    svgIcon="skype-business"></mat-icon>
        </button>
      </div>
      <!-- Desk Phone -->
      <div *ngIf="selectedEmployee.phone"
           fxLayout="row"
           fxLayoutAlign="start center">
        <mat-icon class="mr-8">phone</mat-icon>
        <div class="">{{ selectedEmployee.phone | phone }}</div>
      </div>
      <!-- Ext -->
      <div *ngIf="selectedEmployee.ext"
           fxLayout="row"
           fxLayoutAlign="start center">
        <mat-icon class="mr-8">contact_phone</mat-icon>
        <div class="">x{{ selectedEmployee.ext }}</div>
      </div>
      <!-- Email -->
      <div fxLayout="row"
           fxLayoutAlign="start center">
        <mat-icon class="mr-8">email_open</mat-icon>
        <div class="text-truncate">{{ selectedEmployee.email }}</div>
      </div>
      <!-- Team -->
      <div *ngIf="selectedEmployee.team"
           fxLayout="row"
           fxLayoutAlign="start center">
        <mat-icon class="mr-8">people</mat-icon>
        <div class="text-truncate">{{ selectedEmployee.team }}</div>
      </div>
    </div>
    <!-- Right Side -->
    <div fxFlex
         fxFlexFill>
      <!-- Dates -->
      <div fxLayout="column"
           fxLayoutGap="12px"
           class="accent-100 p-16"
           *ngIf="selectedEmployee.hireDate">
        <div *ngIf="selectedEmployee.hireDate"
             fxLayout="row"
             fxLayoutAlign="start end">
          <mat-icon svgIcon="calendar-star"
                    class="mr-8"></mat-icon>
          <div>
            <div class="font-size-10 font-weight-800">Hire Date</div>
            <div>{{ selectedEmployee.hireDate | date: 'longDate' }}</div>
          </div>
        </div>
        <div *ngIf="selectedEmployee.birthdate"
             fxLayout="row"
             fxLayoutAlign="start end">
          <mat-icon svgIcon="cake-variant"
                    class="mr-8"></mat-icon>
          <div>
            <div class="font-size-10 font-weight-800">Birthdate</div>
            <div>{{ selectedEmployee.birthdate | date: 'MMMM d' }}</div>
          </div>
        </div>
      </div>
      <!-- Committees -->
      <div class="accent-200 p-16"
           *ngIf="selectedEmployee.committees.length"
           fxLayout="column"
           fxLayoutAlign="start start">
        <div class="font-size-10 font-weight-800 ml-32">Committees</div>
        <div>
          <div *ngFor="let committee of selectedEmployee.committees"
               fxLayout="row"
               fxLayoutAlign="start center"
               class="mb-8">
            <mat-icon class="mr-8">stars</mat-icon>
            <div>{{ committee.name }}</div>
          </div>
        </div>
      </div>
      <!-- Fun Fact -->
      <div class="accent-300 p-16 fun-fact"
           *ngIf="selectedEmployee.funFact">
        <div class="font-size-10 font-weight-800">Fun Fact</div>
        {{selectedEmployee.funFact}}
      </div>
    </div>
  </div>

  <!-- Manager -->
  <div fxLayout="row"
       fxLayoutAlign="space-between center"
       class="manager primary p-8 pr-20"
       (click)="selectEmployee(manager)"
       *ngIf="manager"
       matRipple
       [@animate]="{ value: '*', params: { y: '100%' } }">
    <div fxLayout="row"
         fxLayoutAlign="start center">
      <img class="avatar"
           src="/avatars/employees/{{manager.image}}"
           alt="{{manager.displayName}}" />
      <div fxLayout="column"
           fxLayoutAlign="center start">
        <div>{{ manager.displayName }}</div>
        <div class="font-size-12 font-weight-500">
          <span *ngIf="manager.jobClassification">{{
            manager.jobClassification
            }}</span>
          {{ manager.jobTitle }}
        </div>
      </div>
    </div>
    <div fxLayout="column"
         fxLayoutAlign="center center">
      <div>{{ selectedEmployee.nickname || selectedEmployee.firstName }}'s</div>
      <div class="font-size-12">Manager</div>
    </div>
  </div>

  <!-- Direct Reports -->
  <div *ngIf="directReports.length"
       class="direct-reports mt-20"
       fxLayout="column"
       fxLayoutAlign="start start"
       [@animateStagger]="{ value: '50' }">
    <div class="font-size-14 mb-20">
      {{ selectedEmployee.nickname || selectedEmployee.firstName }}'s Direct
      Reports
    </div>
    <div fxLayout="row wrap"
         fxLayoutAlign="center start"
         fxLayoutGap="16px">
      <div *ngFor="let directReport of directReports"
           class="direct-report"
           (click)="selectEmployee(directReport)"
           matRipple
           [@animate]="{ value: '*', params: { y: '100%' } }"
           fxLayout="column"
           fxLayoutAlign="center center">
        <img class="avatar mb-4"
             src="/avatars/employees/{{directReport.image}}"
             alt="{{directReport.displayName}}" />

        <div class="font-size-12 font-weight-500 text-center">
          {{ directReport.displayName }}
        </div>
        <div class="font-size-10 text-center">
          <span *ngIf="directReport.jobClassification">{{
            directReport.jobClassification
            }}</span>
          {{ directReport.jobTitle }}
        </div>
      </div>
    </div>
  </div>
</div>
