printer {
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 30px;
  position: absolute;
  transition: background-color 0.2s linear;
  white-space: nowrap;
  width: 30px;

  &:hover {
    background-color: rgba(222, 88, 88, 0.5);
  }
  .printer mat-icon {
    font-size: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
  }
  &.sm {
    height: 20px;
    width: 20px;

    .printer mat-icon {
      font-size: 16px;
      height: 20px;
      line-height: 18px;
      min-height: 20px;
      min-width: 20px;
      text-align: center;
      width: 20px;
    }
  }
  &.vert .printer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  }
  &.color {
    &:hover {
      background-color: #00b259;
    }
    .printer mat-icon {
      color: #005295;
    }
  }
}
