<div class="birthday-sidebar">
  <mat-list>
    <h3 matSubheader>Months</h3>

    <ng-container *ngFor="let month of months; let i = index">
      <mat-list-item class="cursor-pointer"
                     (click)="selectMonth(i+1)">
        <span>{{month}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>

  </mat-list>
</div>