@import 'src/@fuse/scss/fuse';

restore-employee-list-item {
  display: block;
  position: relative;
  padding: 16px 16px 16px 24px;
  border-bottom: 1px solid;
  text-transform: none;
  cursor: pointer;
  flex-shrink: 0;

  .display-name {
    font-size: 15px;
    font-weight: 500;
  }
}
