<ng-container>
  <div class="seat">
    <span class="employee-name"
          *ngIf="deskDisplay==='occupant'">{{desk.occupant?.displayName}}</span>
    <span class="employee-name"
          *ngIf="deskDisplay==='seat'">{{desk.seat}}</span>
    <span class="employee-name"
          *ngIf="deskDisplay==='drops'">{{desk.drops}}</span>
  </div>
</ng-container>