<div class="fuse-card">
  <div class="header accent"
       fxLayout="row"
       fxLayoutAlign="start center">
    <mat-icon class="mr-8">link</mat-icon>
    <div class="font-size-16 font-weight-800 m-0">Quicklinks</div>

  </div>
  <div class="p-16">
    <ul class="m-0">
      <li><a [routerLink]="['/apps/employee']">Employee Search</a></li>
      <li><a [routerLink]="['/apps/office']">Office Maps</a></li>
      <li *ngIf="userService.isAuthenticated"><a [routerLink]="['/apps/employee', {eid: userService.currentUser?.eid}]">
          View My Profile</a></li>
      <li *ngIf="!userService.isAuthenticated"><a [routerLink]="['/pages/auth/login']">
          View My Profile</a></li>
      <li><a [routerLink]="['/apps/admin/employee/admin', {eid: userService.currentUser?.eid}]">
          Update My Profile</a></li>
      <li><a [routerLink]="['/apps/admin/office', {eid: userService.currentUser?.eid}]">
          Update My Desk</a></li>
    </ul>
  </div>
</div>
