<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle
               class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row"
                     fxLayoutAlign="space-between center">
      <span class="title dialog-title">Room {{room.location}}</span>
      <button mat-icon-button
              (click)="matDialogRef.close()"
              aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom py-16"
                     fxLayout="column"
                     fxLayoutAlign="center center">
      <mat-icon class="s-100"
                svgIcon="office-building"></mat-icon>
      <div class="contact-name mt-8">{{room.name}}</div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content
       class="p-24 m-0 room-specs"
       fusePerfectScrollbar
       fxLayout="row"
       fxLayoutAlign="space-between center">

    <div *ngIf="room.phone"
         fxLayout="row"
         fxLayoutAlign="start end">
      <mat-icon>phone</mat-icon>
      <div>
        <div class="font-size-10 text-semibold">External Phone</div>
        <div class="text-boxed m-0">{{room.phone}}</div>
      </div>
    </div>
    <div *ngIf="room.ext"
         fxLayout="row"
         fxLayoutAlign="start end">
      <mat-icon>contact_phone</mat-icon>
      <div>
        <div class="font-size-10 text-semibold">Internal Phone</div>
        <div class="text-boxed m-0">x{{room.ext}}</div>
      </div>
    </div>
    <div *ngIf="room.capacity"
         fxLayout="row"
         fxLayoutAlign="start end">
      <mat-icon>group</mat-icon>
      <div>
        <div class="font-size-10 text-semibold">Capacity</div>
        <div class="text-boxed m-0">{{room.capacity}}</div>
      </div>
    </div>
  </div>
</div>
