@import 'src/@fuse/scss/fuse';

.room-dialog {
  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint('gt.xs') {
    width: 400px;
  }

  .mat-dialog-container {
    padding: 0;

    .mat-toolbar {
      flex: 1 0 auto;
      min-height: initial;
    }

    .toolbar-bottom {
      height: auto;
    }
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;

    .room-specs {
      mat-icon {
        margin-right: 10px;
      }
    }
    mat-icon.s-100 g {
      transform: scale(4);
    }
  }
}
