<div class="tos-dialog"
     fxLayout="column"
     fxLayoutAlign="center start">
  <h2 mat-dialog-title>Terms Of Use</h2>
  <mat-dialog-content class="mat-typography">
    <p>By using this service you agree to henceforth refer to Matt Copeland as
      "The Maestro" or "Maestro". You further agree to use a cordial and
      respectful tone when speaking these names.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close>
      <mat-icon class="mr-16">thumb_up</mat-icon>You got it dude!
    </button>
  </mat-dialog-actions>
</div>
