@import 'src/@fuse/scss/fuse';

.occupant-dialog {
  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint('gt.xs') {
    width: 400px;
  }

  .mat-dialog-container {
    padding: 0;

    .mat-toolbar {
      flex: 1 0 auto;
      min-height: initial;
    }

    .avatar-wrapper {
      border: 8px solid rgba(0, 171, 242, 1);
      border-radius: 50%;
      margin-right: 8px;
      .contact-avatar {
        border: 5px solid transparent;
      }
    }

    .toolbar-bottom {
      height: auto;
    }
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }
}
