<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle
               class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row"
                     fxLayoutAlign="space-between center">
      <span class="title dialog-title">Desk {{desk.seat}}</span>
      <button mat-icon-button
              (click)="matDialogRef.close()"
              aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom p-12 pt-0"
                     fxLayout="column"
                     fxLayoutAlign="center center">
      <div class="avatar-wrapper">
        <img src="/avatars/employees/{{occupant.image}}"
             class="avatar contact-avatar huge m-0"
             [alt]="occupant.displayName" />
      </div>
      <div class="contact-name mt-8">{{occupant.displayName}}</div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content
       class="p-24 m-0"
       fusePerfectScrollbar
       fxLayout="row"
       fxLayoutAlign="center center">

    <button mat-raised-button
            color="accent"
            (click)="viewProfile(occupant.eid)">
      <mat-icon class="mr-8"
                svgIcon="account-card-details"></mat-icon>
      View
      {{occupant.nickname || occupant.firstName}}'s profile
    </button>
  </div>
</div>