<div class="map"
     [ngClass]="officeCode+'-'+floor"
     [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">

  <div class="floor-label">
    <div class="warn font-size-20">Floor {{floor}}</div>
  </div>
  <marker *ngIf="hasMappedDesk"
          (click)="selectDesk(mappedDesk)"
          [ngClass]="[officeCode+'-'+floor, mappedDesk.orientation, mappedDesk.classification]"
          [ngStyle]="{'height.px': mappedDesk.height ? mappedDesk.height : 'inherit', 'width.px': mappedDesk.width ? mappedDesk.width : 'inherit','left.px': mappedDesk.xpos, 'top.px': mappedDesk.ypos}">
  </marker>

  <marker *ngIf="hasMappedRoom"
          (click)="selectRoom(mappedRoom)"
          [ngClass]="[officeCode+'-'+floor]"
          [ngStyle]="{'height.px': mappedRoom.height ? mappedRoom.height : 'inherit', 'width.px': mappedRoom.width ? mappedRoom.width : 'inherit','left.px': mappedRoom.xpos, 'top.px': mappedRoom.ypos}">
  </marker>

  <desk *ngFor="let desk of desks"
        id="desk-{{desk.seat}}"
        [desk]="desk"
        [deskDisplay]="deskDisplay"
        (click)="selectDesk(desk)"
        [ngClass]="[desk.orientation, desk.classification]"
        [ngStyle]="{'height.px': desk.height ? desk.height : 'inherit', 'width.px': desk.width ? desk.width : 'inherit','left.px': desk.xpos, 'top.px': desk.ypos}">
  </desk>

  <artifact *ngFor="let artifact of artifacts"
            [artifact]="artifact"
            [ngClass]="[artifact.classification, artifact.orientation]"
            [ngStyle]="{'height.px': artifact.height, 'width.px': artifact.width, 'left.px': artifact.xpos, 'top.px': artifact.ypos}">
  </artifact>

  <room *ngFor="let room of rooms"
        id="room-{{room.location}}"
        [room]="room"
        (click)="selectRoom(room)"
        [ngClass]="[room.classification]"
        [ngStyle]="{'height.px': room.height, 'width.px': room.width, 'left.px': room.xpos, 'top.px': room.ypos}">
  </room>

  <printer *ngFor="let printer of printers"
           [printer]="printer"
           id="{{printer.name}}"
           (click)="selectPrinter(printer)"
           [ngClass]="[printer.classification, printer.orientation]"
           [ngStyle]="{'left.px': printer.xpos, 'top.px': printer.ypos}">
  </printer>
</div>
