.map {
  background-color: transparent;
  background-repeat: no-repeat;
  display: table;
  height: 1149px;
  position: relative;
  width: 1256px;

  &.lzbuf-6 {
    background-image: url('/assets/images/offices/lzbuf-6.png');
  }
  &.lzbuf-7 {
    background-image: url('/assets/images/offices/lzbuf-7.png');
  }
  &.lzbuf-8 {
    background-image: url('/assets/images/offices/lzbuf-8.png');
  }
  &.lznyc-6 {
    background-image: url('/assets/images/offices/lznyc-6.png');
    height: 646px;
    width: 640px;
  }

  .floor-label {
    left: 50%;
    position: absolute;
    top: 50%;

    > div {
      border-radius: 10px;
      left: -50%;
      padding: 2px 10px;
      position: relative;
      top: -50%;
    }
  }

  $employee-width: 58px;
  $employee-height: 20px;

  $manager-width: 64px;
  $manager-height: 55px;
  $manager-it-width: 78px;

  $office-width: 114px;
  $office-height: 84px;

  $floor6-employee-width: 55px;
  $floor6-employee-height: 24px;

  $floor6-manager-width: 73px;
  $floor6-manager-height: 69px;

  $nyc-employee-width: 54px;
  $nyc-employee-height: 22px;

  $nyc-cube-width: 62px;
  $nyc-cube-height: 46px;

  /* Marker stykes */
  marker {
    cursor: pointer;
    position: absolute;
    z-index: 1;

    height: $employee-height;
    width: $employee-width;

    &.vert {
      height: $employee-width;
      width: $employee-height;
    }

    &.manager {
      height: $manager-height;
      width: $manager-width;

      &.vert {
        height: $manager-width;
        width: $manager-height;

        &.ewa {
          transform: rotate(26deg);

          .marker {
            transform: rotate(-26deg);
          }
        }
      }
    }

    &.lzbuf-6 {
      height: $floor6-employee-height;
      width: $floor6-employee-width;

      &.vert {
        height: $floor6-employee-width;
        width: $floor6-employee-height;
      }

      &.manager {
        height: $floor6-manager-height;
        width: $floor6-manager-width;

        &.vert {
          height: $floor6-manager-width;
          width: $floor6-manager-height;
        }
      }
    }

    &.lznyc-6 {
      height: $nyc-employee-height;
      width: $nyc-employee-width;

      &.cube {
        height: $nyc-cube-height;
        width: $nyc-cube-width;
      }
    }
  }

  /* Desk Styles */
  $desk-border: 1px;

  desk {
    background-color: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: table;
    position: absolute;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: rgba(222, 88, 88, 0.5);
    }

    .seat {
      display: table-cell;
      font-size: 12px;
      text-align: center;
      vertical-align: middle;

      .employee-name {
        display: block;
        font-family: verdana;
        font-size: 9px;
        line-height: 10px;

        letter-spacing: normal;
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
        backface-visibility: initial !important;
      }
    }

    /* Employee Specific */
    &.employee {
      height: $employee-height;
      width: $employee-width;

      .employee-name {
        overflow: hidden;
        width: $employee-width - 2px;
      }

      /* Vertical Employee Desks */
      &.vert {
        height: $employee-width;
        width: $employee-height;

        .seat {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
        }
      }

      &.ewa {
        transform: rotate(26deg);
      }
    }

    /* Manager Specific */
    &.manager {
      height: $manager-height;
      width: $manager-width;

      /* Horizontal Manager Desks are the default */
      .seat span {
        background-color: rgba(255, 255, 255, 0.75);
      }

      /* Vertical Manager Desks */
      &.vert {
        height: $manager-width;
        width: $manager-height;
      }

      &.it {
        width: $manager-it-width;

        &.vert {
          height: $manager-it-width;
          width: $manager-height;
        }
      }

      &.ewa {
        transform: rotate(26deg);
      }
    }

    /* Office Specific */
    &.office {
      height: $office-height;
      width: $office-width;

      .seat span {
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  // -----------------------------------------------------------------------------------------------------
  // @ BUF 6th Floor overrides
  // -----------------------------------------------------------------------------------------------------

  &.lzbuf-6 desk {
    &.employee {
      height: $floor6-employee-height;
      width: $floor6-employee-width;

      .employee-name {
        width: $floor6-employee-width - 2px;
      }
    }

    &.vert {
      height: $floor6-employee-width;
      width: $floor6-employee-height;
    }

    &.manager {
      height: $floor6-manager-height;
      width: $floor6-manager-width;
    }
  }

  // -----------------------------------------------------------------------------------------------------
  // @ NYC 6th Floor overrides
  // -----------------------------------------------------------------------------------------------------

  &.lznyc-6 desk {
    &.employee {
      border: 1px solid #808080;
      height: $nyc-employee-height;
      width: $nyc-employee-width;

      .employee-name {
        width: $nyc-employee-width - 2px;
      }

      &.vert {
        height: $nyc-employee-width;
        width: $nyc-employee-height;
      }
    }

    &.cube {
      height: $nyc-cube-height;
      width: $nyc-cube-width;
    }

    &.manager .seat span {
      background-color: transparent;
    }
  }
}
