@import 'src/@fuse/scss/fuse';

#employee {
  width: 100%;

  .top-bg {
    height: 184px;
  }

  .center {
    .header {
      height: 120px !important;
      min-height: 120px !important;
      max-height: 120px !important;
    }

    .content-card {
      @include media-breakpoint('lt-md') {

        employee-list {
          border-right: 0;
        }

        employee-detail {
          display: none !important;
        }

        &.employee-selected {
          .content {
            employee-list {
              display: none !important;
            }

            employee-detail {
              display: flex !important;
            }
          }
        }
      }
    }
  }

  .message-box {
    padding: 7px 13px 7px 7px;
  }
}
