<div id="employee"
     class="page-layout carded left-sidebar inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- SIDEBAR -->
  <fuse-sidebar class="sidebar"
                name="employee-sidebar"
                position="left"
                lockedOpen="gt-md">
    <employee-sidebar [filter]="filter"></employee-sidebar>
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24"
         fxLayout="row"
         fxLayoutAlign="start center">

      <button mat-icon-button
              class="sidebar-toggle mr-8"
              fxHide.gt-md
              (click)="toggleSidebar('employee-sidebar')">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo"
           fxLayout="row"
           fxLayoutAlign="start center">
        <mat-icon class="mr-16"
                  [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">person</mat-icon>
        <span class="logo-text h1"
              [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Employees
        </span>
      </div>

    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card"
         [ngClass]="{'employee-selected' : selectedEmployee}">

      <!-- CONTENT TOOLBAR -->
      <!-- <div class="toolbar px-24 py-8">
        <div class="h3 employee-selection"
             *ngIf="!filteredEmployeesBy?.length && searchText.value.length <= 2">Employee
          Profiles</div>

        <div class="employee-selection"
             *ngIf="filteredEmployeesBy?.length">Employee matches<span
                fxHide.lt-sm> for your
            search</span>:
          {{filteredEmployeesBy?.length}}</div>

        <div class="employee-selection"
             *ngIf="!filteredEmployeesBy?.length && searchText.value.length > 2">No
          results...</div>

        <div *ngIf="selectedEmployee"
             fxHide.gt-sm>
          <button mat-button
                  (click)="selectEmployee(null)">
            <mat-icon class="secondary-text">arrow_back</mat-icon>
            Employees list
          </button>

        </div>
      </div> -->
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content"
           fxFlexAlign="row">
        <employee-list fxFlex
                       fusePerfectScrollbar
                       id="employee-list"
                       class="employee-list"
                       [employees]="employees"></employee-list>
        <employee-detail fxFlex="2 1 0%"
                         fusePerfectScrollbar
                         id="employee-detail"
                         class="employee-detail"
                         [fusePerfectScrollbarOptions]="{suppressScrollX: true}"></employee-detail>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
