.employee-card {
  cursor: pointer;
  max-width: 108px;
  min-width: 108px;
  width: 108px;
  margin: 0 8px 16px 8px;

  &.mat-card {
    background-color: rgb(250, 250, 250) !important;
    padding: 4px;

    .header-text {
      font-size: 12px;
      margin-bottom: 4px;
      text-align: center;
    }

    .mat-card-image {
      height: 100px;
      margin: 0;
      width: 100px;
    }

    .mat-card-content {
      margin-bottom: 0;
    }
  }
}
