<div id="office"
     class="page-layout simple tabbed inner-scroll"
     fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header accent p-24"
       fxLayout="row"
       fxLayoutAlign="space-between center">
    <div class="logo"
         fxLayout="row"
         fxLayoutAlign="start center">
      <mat-icon class="mr-16"
                [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">domain</mat-icon>
      <span class="logo-text h1"
            [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        Office Maps
      </span>
    </div>
    <div class="desk-display-options mat-elevation-z2 primary-500-fg">
      <div class="mat-body-2">Display:</div>
      <mat-radio-group name="deskDisplay"
                       [(ngModel)]="deskDisplay"
                       fxLayout="column"
                       fxLayoutAlign="start start">
        <mat-radio-button value="occupant">Occupant</mat-radio-button>
        <mat-radio-button value="seat">Seat ID</mat-radio-button>
        <mat-radio-button value="drops">IT Drops</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <mat-tab-group [selectedIndex]="mapIndex"
                   dynamicHeight="true">

      <mat-tab label="Buffalo Floor 6">
        <div class="p-24">
          <map officeCode="lzbuf"
               floor="6"
               [mappedDesk]="mappedDesk"
               [mappedRoom]="mappedRoom"
               [desks]="desks"
               [deskDisplay]="deskDisplay"></map>
        </div>
      </mat-tab>

      <mat-tab label="Buffalo Floor 7">
        <div class="p-24">
          <map officeCode="lzbuf"
               floor="7"
               [mappedDesk]="mappedDesk"
               [mappedRoom]="mappedRoom"
               [desks]="desks"
               [deskDisplay]="deskDisplay"></map>
        </div>
      </mat-tab>

      <mat-tab label="Buffalo Floor 8">
        <div class="p-24">
          <map officeCode="lzbuf"
               floor="8"
               [mappedDesk]="mappedDesk"
               [mappedRoom]="mappedRoom"
               [desks]="desks"
               [deskDisplay]="deskDisplay"></map>
        </div>
      </mat-tab>

      <mat-tab label="NYC Floor 6">
        <div class="p-24">
          <map officeCode="lznyc"
               floor="6"
               [mappedDesk]="mappedDesk"
               [mappedRoom]="mappedRoom"
               [desks]="desks"
               [deskDisplay]="deskDisplay"></map>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>
  <!-- / CONTENT -->

</div>
