<div class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header"
         fxLayout="row"
         fxLayoutAlign="start center">

      <div class="search-wrapper"
           fxFlex
           fxLayout="row"
           fxLayoutAlign="start center">

        <div class="search"
             flex
             fxLayout="row"
             fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input [formControl]="searchInput"
                 placeholder="Employee Search"
                 fxFlex
                 #searchText
                 autofocus>
        </div>
      </div>

    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <div class="employee-selection"
             *ngIf="filteredEmployees?.length">Employee matches<span
                fxHide.lt-sm> for your
            search</span>:
          {{filteredEmployees?.length}}</div>

        <div class="employee-selection"
             *ngIf="!filteredEmployees?.length && searchText.value.length > 2">No
          results...</div>

        <div *ngIf="selectedEmployee"
             fxHide.gt-sm>
          <button mat-button
                  (click)="selectEmployee(null)">
            <mat-icon class="secondary-text">arrow_back</mat-icon>
            Employees list
          </button>

        </div>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content inner-scroll"
           fxFlexAlign="row">
        <restore-employee-list fxFlex
                               [filteredEmployees]="filteredEmployees"
                               [searchInput]="searchText.value"></restore-employee-list>
        <restore-employee-detail fxFlex="3 1 0%"
                                 [jobs]="jobs"></restore-employee-detail>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>