@import 'src/@fuse/scss/fuse';

restore-employee {
  width: 100%;

  .center {
    .header {
      .search-wrapper {
        @include mat-elevation(7);

        .sidebar-toggle {
          margin: 0;
          width: 56px;
          height: 56px;
          border-radius: 0;
          border-right: 1px solid;
        }

        .search {
          width: 100%;
          height: 56px;
          line-height: 56px;
          padding: 18px;

          input {
            height: 56px;
            padding-left: 16px;
            border: none;
            outline: none;
          }
        }
      }
    }

    .content-card {
      @include media-breakpoint('lt-md') {
        .toolbar {
          font-size: 18px;
        }

        employee-list {
          border-right: 0;
        }

        employee-detail {
          display: none !important;
        }

        &.employee-selected {
          .toolbar {
            padding-left: 16px !important;

            .employee-selection {
              display: none !important;
            }
          }

          .content {
            employee-list {
              display: none !important;
            }

            employee-detail {
              display: flex !important;
            }
          }
        }
      }
    }
  }

  .message-box {
    padding: 7px 13px 7px 7px;
  }
}
