<!-- HEADER -->
<div class="employee-list-header">
  <!-- CHATS TOOLBAR -->
  <mat-toolbar>

    <!-- TOOLBAR BOTTOM -->
    <mat-toolbar-row>

      <!-- SEARCH -->
      <div class="search-wrapper"
           fxFlex
           fxLayout="row"
           fxLayoutAlign="start center">

        <div class="search"
             fxFlex
             fxLayout="row"
             fxLayoutAlign="start center">
          <mat-icon class="s-16 secondary-text">search</mat-icon>
          <input type="text"
                 (keydown)="onSearchKeydown($event)"
                 [formControl]="searchInput"
                 placeholder="Employee Search"
                 #searchText
                 fxFlex>
          <mat-icon *ngIf="searchText.value"
                    class="s-16 secondary-text search-clear"
                    (click)="clearSearch()"
                    svgIcon="close-circle-outline"></mat-icon>
        </div>

      </div>
      <!-- / SEARCH -->

    </mat-toolbar-row>
    <!-- / TOOLBAR BOTTOM -->

  </mat-toolbar>
  <!-- / CHATS TOOLBAR -->
</div>

<!-- LIST -->
<div class="employee-list-content"
     fusePerfectScrollbar
     fxFlex>
  <div *ngIf="!filteredEmployeesBy"
       class=" p-16 hint-text text-center mat-h1 select-employee-text"
       [@animate]="{value:'*',params:{delay:'400ms', y:'100%'}}">
    Search for Employees
  </div>
  <div *ngIf="filteredEmployeesBy && !filteredEmployeesBy.length"
       class=" p-16 hint-text text-center mat-h1 select-employee-text"
       [@animate]="{value:'*',params:{delay:'400ms', y:'100%'}}">
    No results for your search.
  </div>
  <div class="employee-list"
       [@animateStagger]="{value:'50'}">
    <employee-list-item class="employee-list-item"
                        [ngClass]="i === activeEmployeeListItem ? 'active' : ''"
                        *ngFor="let employee of filteredEmployeesBy; let i = index"
                        [employee]="employee"
                        (click)="selectEmployee(employee, i)"
                        matRipple
                        [@animate]="{value:'*',params:{y:'100%'}}">
    </employee-list-item>
  </div>
</div>
