@import 'src/@fuse/scss/fuse';

employee-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
  border-right: 1px solid;
  overflow-y: auto;

  .employee-list-header {

    mat-toolbar {
      border-bottom: 1px solid;

      .search {
        height: 36px;
        line-height: 36px;
        padding: 8px;
        font-size: 13px;
        border-radius: 18px;
        border: 1px solid;
        overflow: hidden;

        .mat-icon {
          margin: 0;

          &.search-clear g {
            cursor: pointer;
            transform: scale(.7);
          }
        }

        input {
          padding: 0 12px 0 8px;
          height: 36px;
          border: none;
        }
      }
    }
  }

  .employee-list-content {
    overflow: auto;
  }
}
