<div class="fuse-card">
  <div class="header accent"
       fxLayout="row"
       fxLayoutAlign="start center">
    <mat-icon class="mr-8">domain</mat-icon>
    <div class="font-size-16 font-weight-800 m-0">Where's My Meeting?</div>

  </div>
  <div fxLayout="row"
       fxLayoutGap="24px"
       class="p-16">
    <div fxLayout="column">
      <div>Buffalo, 6th Floor</div>
      <ul>
        <li *ngFor="let room of sortedRooms['lzbuf-6']">
          <a [routerLink]="['/apps/office', {room: room.location, officeCode: room.officeCode}]">{{room.name}}</a>
        </li>
      </ul>
      <div>Buffalo, 7th Floor</div>
      <ul>
        <li *ngFor="let room of sortedRooms['lzbuf-7']">
          <a [routerLink]="['/apps/office', {room: room.location, officeCode: room.officeCode}]">{{room.name}}</a>
        </li>
      </ul>
    </div>
    <div>
      <div>Buffalo, 8th Floor</div>
      <ul>
        <li *ngFor="let room of sortedRooms['lzbuf-8']">
          <a [routerLink]="['/apps/office', {room: room.location, officeCode: room.officeCode}]">{{room.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
