<div class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24"
         fxLayout="row"
         fxLayoutAlign="start center">
      <mat-icon class="s-32 mr-16"
                aria-hidden="true"
                svgIcon="account-edit"></mat-icon>
      <h2 class="m-0">Employee Data Administration</h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8"
           fxLayout="row"
           fxLayoutAlign="space-between center">
        <h2>Employee Profile Data</h2>
        <button *ngIf="selectedEmployee"
                mat-raised-button
                color="accent"
                (click)="selectEmployee()">
          <mat-icon class="mr-8"
                    svgIcon="account-card-details"></mat-icon>
          New Employee
        </button>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content inner-scroll"
           fxFlexAlign="row">
        <div fxFlex
             fxLayout="column"
             fxLayoutAlign="start center"
             fusePerfectScrollbar>
          <employee-avatar></employee-avatar>
          <employee-desk></employee-desk>
          <employee-fun-fact></employee-fun-fact>
        </div>

        <employee-detail fxFlex="3 1 0%"
                         [jobs]="jobs"></employee-detail>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
