@import 'src/@fuse/scss/fuse';

employee {
  width: 100%;

  .center {
    .header {
      mat-icon.s-32 g {
        transform: scale(1.3);
      }
    }

    .content-card {
      @include media-breakpoint('lt-md') {
        .toolbar {
          font-size: 18px;
        }

        employee-detail {
          display: none !important;
        }

        &.employee-selected {
          .toolbar {
            padding-left: 16px !important;

            .employee-selection {
              display: none !important;
            }
          }

          .content {
            employee-list {
              display: none !important;
            }

            employee-detail {
              display: flex !important;
            }
          }
        }
      }
    }
  }

  .message-box {
    padding: 7px 13px 7px 7px;
  }
}
