@mixin employee-admin-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $is-dark: map-get($theme, is-dark);

  // Employees
  restore-employee {
    .header {
      .search-wrapper {
        background: map-get($background, background);

        .sidebar-toggle {
          border-right-color: map-get($foreground, divider);
        }

        .search {
          input {
            background: map-get($background, background);
            color: map-get($foreground, text);
          }
        }
      }
    }
  }

  // Employee list
  restore-employee-list {
    border-right-color: map-get($foreground, divider);
  }

  // Employee list item
  restore-employee-list-item {
    border-bottom-color: map-get($foreground, divider);

    &:hover {
      background-color: map-get($background, hover);
    }

    &.completed {
      @if ($is-dark) {
        background: map-get($background, background);
      } @else {
        background: #efefef;
      }

      .title,
      .notes {
        color: map-get($foreground, secondary-text);
      }
    }

    &.selected {
      @if ($is-dark) {
        background: map-get($background, background);
      } @else {
        background: map-get($accent, 50);
      }
    }
  }

  // Employee detail
  restore-employee-detail {
    .employee-header {
      background: map-get($background, background);
      border-bottom-color: map-get($foreground, divider);
    }
  }
}
