@import 'src/@fuse/scss/fuse';

.printer-dialog {
  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint('gt.xs') {
    width: 400px;
  }

  .mat-dialog-container {
    padding: 0;

    .mat-toolbar {
      flex: 1 0 auto;
      min-height: initial;
    }

    .toolbar-bottom {
      height: auto;
    }
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;

    mat-icon.s-100 g {
      transform: scale(4);
    }

    div[mat-dialog-content] .color {
      background-color: #fdd835;
      color: #f00;
      padding: 3px 10px;
      border-radius: 15px;
    }

    div[mat-dialog-content] .mono {
      background-color: #797979;
      color: #fff;
      padding: 3px 10px;
      border-radius: 15px;
    }
  }
}
