<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle
               class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row"
                     fxLayoutAlign="space-between center">
      <span class="title dialog-title">Printer</span>
      <button mat-icon-button
              (click)="matDialogRef.close()"
              aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom py-16"
                     fxLayout="column"
                     fxLayoutAlign="center center">
      <mat-icon class="s-100"
                svgIcon="printer"></mat-icon>
      <div class="contact-name mt-8">{{printer.name}}</div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content
       class="p-24 m-0"
       fusePerfectScrollbar
       fxLayout="column"
       fxLayoutAlign="center center">

    <div class="font-size-20">{{printer.brand}} {{printer.model}}</div>
    <div class="font-size-18 font-weight-500"
         [ngClass]="printer.classification">
      <span *ngIf="printer.classification === 'mono'">Monochrome</span>
      <span *ngIf="printer.classification === 'color'">Color Printer</span>
    </div>
  </div>
</div>