<div class="p-24">
  <div class="map"
       [ngClass]="officeCode+'-'+floor">

    <div class="floor-label">
      <div class="warn font-size-20">Floor {{floor}}</div>
    </div>

    <desk *ngFor="let desk of filteredDesks"
          id="desk-{{desk.seat}}"
          [desk]="desk"
          (click)="assignDesk(desk)"
          [ngClass]="[desk.orientation, desk.classification]"
          [ngStyle]="{'height.px': desk.height ? desk.height : 'inherit', 'width.px': desk.width ? desk.width : 'inherit','left.px': desk.xpos, 'top.px': desk.ypos}">
    </desk>
  </div>
</div>