<div class="page-layout simple fullwidth"
     fxLayout="column">

  <!-- HEADER -->
  <div class="header accent p-24 h-160"
       fxLayout="row"
       fxLayoutAlign="start center">
    <div fxLayout="column"
         fxLayoutAlign="center start">
      <div fxLayout="row"
           fxLayoutAlign="start center"
           class="mb-16">
        <mat-icon class="s-32 mr-16"
                  aria-hidden="true"
                  svgIcon="office-building"></mat-icon>
        <div class="h1">Office Administration</div>
      </div>
      <div fxLayout="row"
           fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18"
                  svgIcon="account-edit"></mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Employee Desk Assignment</span>
      </div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24"
       fxLayout="column"
       fxLayoutAlign="start center"
       fxLayoutGap="20px"
       [@animateStagger]="{value:'50'}">

    <h2>Where are you moving {{selectedEmployee?.displayName}} to?</h2>
    <div fxLayout="row"
         fxLayoutAlign="center start"
         fxLayoutGap="20px">
      <div class="fuse-card"
           *ngFor="let office of offices"
           [@animate]="{value:'*',params:{y:'100%'}}">

        <div class="p-16">
          <div class="h1">{{office.name}}</div>
          <div class="h4 secondary-text">{{office.city}}, {{office.state}}</div>
        </div>

        <div class="p-16 pt-0 line-height-1.75">
          {{office.building}}
          <div class="p-8 pt-0"
               fxLayout="row"
               fxLayoutAlign="start center">
            <button mat-button
                    color="accent"
                    (click)="selectLocation(eid, floor, office.code)"
                    *ngFor="let floor of office.floors">
              Floor {{floor}}
            </button>
          </div>
        </div>

      </div>
    </div>
    <div class="fuse-card"
         [@animate]="{value:'*',params:{y:'100%'}}">

      <div class="p-16">
        <div class="h1">Remote</div>
        <div class="h4 secondary-text">Remote worker</div>
      </div>

      <div class="p-16 pt-0 line-height-1.75">
        <div class="p-8 pt-0"
             fxLayout="row"
             fxLayoutAlign="start center">
          <button mat-button
                  color="accent"
                  (click)="makeRemote(eid)">Make Remote
          </button>
        </div>
      </div>

    </div>
  </div>
  <!-- / CONTENT -->

</div>