<div *ngIf="birthdayEmployees.length">
  <h2>Birthdays</h2>
  <div class="card">
    <div class="p-12"
         fxLayout="row"
         fxLayoutAlign="start center"
         (click)="selectEmployee(employee)"
         matRipple
         *ngFor="let employee of birthdayEmployees">
      <img src="/avatars/employees/{{employee.image}}"
           class="avatar mr-16"
           [alt]="employee.displayName" />
      <div fxLayout="column"
           fxLayoutAlign="start start">
        <span class="mat-subheading-1 mb-0">{{employee.displayName}}</span>
      </div>
    </div>
  </div>
</div>