<form name="funFactForm"
      fxLayout="column"
      fxLayoutAlign="start center"
      [formGroup]="funFactForm"
      (ngSubmit)="saveFunFact()">
  <mat-form-field appearance="outline"
                  fxFlex="1 0 auto">
    <mat-label>Fun Fact</mat-label>
    <textarea matInput
              matTextareaAutosize="true"
              matAutosizeMinRows="2"
              matAutosizeMaxRows="5"
              formControlName="funFact"></textarea>
  </mat-form-field>
  <button mat-raised-button
          type="submit"
          color="accent"
          class="submit-button mb-20">Save Fun Fact</button>
</form>
