.page-layout.carded.fullwidth>.center>.header {
  height: 120px !important;
  min-height: 120px !important;
  max-height: 120px !important;
}

.center {
  .mat-tab-group {
    width: 100%;
  }
}

#committee {
  .top-bg {
    height: 184px;
  }

  .fuse-card {
    cursor: pointer;
  }
}
