<div id="committee"
     class="page-layout carded fullwidth tabbed inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24"
         fxLayout="row"
         fxLayoutAlign="start center">
      <div class="logo"
           fxLayout="row"
           fxLayoutAlign="start center">
        <mat-icon class="mr-16"
                  [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">stars</mat-icon>
        <span class="logo-text h1"
              [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Committees
        </span>
      </div>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">
        <!-- No committee selected -->
        <div *ngIf="!selectedCommittee"
             class="p-24">
          <div class="mat-headline">Select a Committee</div>
          <div fxLayout="row wrap"
               fxLayoutAlign="center start"
               fxLayoutGap="24px">
            <div class="fuse-card auto-width mat-elevation-z1 mb-24"
                 matRipple
                 *ngFor="let committee of committees"
                 (click)="selectCommittee(committee.code)">

              <div class="p-16">
                <div class="h1">{{committee.name}}</div>
                <div class="h4 secondary-text">Committee</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Committee selected -->
        <mat-tab-group *ngIf="selectedCommittee"
                       [selectedIndex]="selectedCommitteeIndex"
                       (selectedTabChange)="tabChanged($event)">

          <mat-tab *ngFor="let committee of committees"
                   label="{{committee.name}}">
            <div class="tab-content p-24"
                 fusePerfectScrollbar>
              <!-- PUT YOUR TAB CONTENT HERE -->
              <committee-content [committee]="committee"></committee-content>
              <!-- / PUT YOUR TAB CONTENT HERE -->
            </div>
          </mat-tab>

        </mat-tab-group>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
