<div *ngIf="anniversaryEmployees.length">
  <h2>Work Anniversaries</h2>
  <div class="card">
    <div class="p-12"
         fxLayout="row"
         fxLayoutAlign="start center"
         (click)="selectEmployee(employee)"
         matRipple
         *ngFor="let employee of anniversaryEmployees">
      <img src="/avatars/employees/{{employee.image}}"
           class="avatar mr-16"
           [alt]="employee.displayName" />
      <div fxLayout="column"
           fxLayoutAlign="start start">
        <span class="mat-subheading-1 mb-0">{{employee.displayName}}</span>

        <div *ngIf="employee.yearsOfService > 0; else hiredToday">
          <span class="mat-body-2">{{employee.yearsOfService}} year<span *ngIf="employee.yearsOfService > 1">s</span></span>
        </div>

        <ng-template #hiredToday>
          <span class="mat-body-2">started today!</span>
        </ng-template>

      </div>
    </div>
  </div>
</div>
