<div class="employee-desk">
  <div fxLayout="column"
       fxLayoutAlign="start center">
    <mat-icon class="s-50 primary-100-fg">edit_location</mat-icon>
    <button *ngIf="selectedEmployee"
            mat-button
            (click)="updateDesk()">Update Desk</button>

    <p class="m-0"
       *ngIf="!selectedEmployee">Create a new employee to assign them a desk.</p>
  </div>
</div>