<div class="fuse-card">
  <div class="header accent"
       fxLayout="row"
       fxLayoutAlign="start center">
    <mat-icon class="mr-8">move_to_inbox</mat-icon>
    <div class="font-size-16 font-weight-800 m-0">Suggestion Box</div>

  </div>
  <form name="suggestionForm"
        fxLayout="column"
        fxLayoutAlign="start center"
        [formGroup]="suggestionForm"
        (ngSubmit)="submitSuggestion()"
        class="p-16">
    <mat-form-field appearance="outline"
                    fxFlex="1 0 auto">
      <mat-label>Suggestion For Facilities Services</mat-label>
      <textarea matInput
                matTextareaAutosize="true"
                matAutosizeMinRows="2"
                matAutosizeMaxRows="10"
                formControlName="suggestion"></textarea>
    </mat-form-field>
    <button mat-raised-button
            type="submit"
            color="accent"
            class="submit-button">Submit Suggestion</button>
  </form>
</div>
