@import 'src/@fuse/scss/fuse';

.fuse-card {
  overflow: hidden;
}
.header {
  padding: 16px;
}
mat-form-field {
  width: 100%;
}

mat-label {
  font-size: 14px;
}

textarea {
  font-size: 14px;
  line-height: 20px !important;
}
