<mat-toolbar class="p-0 mat-elevation-z1">

  <div fxFlex
       fxFill
       fxLayout="row"
       fxLayoutAlign="start center">

    <div fxFlex="1 0 auto"
         fxLayout="row"
         fxLayoutAlign="start center">

      <button mat-icon-button
              class="navbar-toggle-button"
              *ngIf="!hiddenNavbar && !rightNavbar"
              (click)="toggleSidebarOpen('navbar')"
              fxHide.gt-md>
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

      <div class="toolbar-separator"
           *ngIf="!hiddenNavbar && !rightNavbar"
           fxHide.gt-md></div>

      <div fxLayout="row"
           fxLayoutAlign="start center"
           *ngIf="horizontalNavbar">
        <div class="logo ml-16">
          <img class="logo-icon"
               src="assets/images/logos/wtw-lg.png">
        </div>
      </div>

      <div class="px-8 px-md-16">
        <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
      </div>

    </div>

    <div class=""
         fxFlex="0 1 auto"
         fxLayout="row"
         fxLayoutAlign="start center">

      <button mat-button
              *ngIf="userService.isAuthenticated"
              [matMenuTriggerFor]="userMenu"
              class="user-button">
        <div fxLayout="row"
             fxLayoutAlign="center center">
          <img class="avatar mr-0 mr-sm-16"
               src="/avatars/employees/{{userService.currentUser?.image}}">
          <span class="username mr-12"
                fxHide
                fxShow.gt-sm>{{userService.currentUser?.fullName}}</span>
          <mat-icon class="s-16"
                    fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>

      <button mat-button
              *ngIf="!userService.isAuthenticated"
              [routerLink]="['/pages/auth/login']"
              class="user-button">
        <div fxLayout="row"
             fxLayoutAlign="center center">
          <mat-icon class="mr-8">account_circle</mat-icon>
          <span>Login</span>
        </div>
      </button>

      <mat-menu #userMenu="matMenu"
                [overlapTrigger]="false">

        <button mat-menu-item
                [routerLink]="['/apps/employee', {eid: userService.currentUser?.eid}]">
          <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
        </button>

        <button mat-menu-item
                (click)="userService.logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>

      </mat-menu>

      <div class="toolbar-separator"
           fxHide
           fxShow.gt-xs></div>
      <!-- 
      <button mat-icon-button
              class="quick-panel-toggle-button"
              (click)="toggleSidebarOpen('quickPanel')"
              aria-label="Toggle quick panel">
        <mat-icon class="secondary-text">format_list_bulleted</mat-icon>
      </button>
      -->

      <div class="toolbar-separator"
           *ngIf="!hiddenNavbar && rightNavbar"
           fxHide
           fxShow.gt-xs></div>

      <button mat-icon-button
              class="navbar-toggle-button"
              *ngIf="!hiddenNavbar && rightNavbar"
              (click)="toggleSidebarOpen('navbar')"
              fxHide.gt-md>
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

    </div>

  </div>

</mat-toolbar>