<div class="demo-sidebar">
  <mat-list>
    <h3 matSubheader>Years of Service</h3>

    <ng-container *ngFor="let year of yearsOfService">
      <mat-list-item class="cursor-pointer"
                     (click)="selectYear(year)">
        <span>{{year}}+ Years</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>

  </mat-list>
</div>