<div fxFlexFill
     fusePerfectScrollbar>

  <form class="p-20"
        name="employeeForm"
        [formGroup]="employeeForm"
        (ngSubmit)="saveEmployee()"
        fxLayout="column"
        fxLayoutAlign="start"
        novalidate
        [@animate]="{value:'*',params:{y:'100%'}}">

    <div class="h2 mb-24"
         *ngIf="selectedEmployee; else createEmployee">
      Update Employee
    </div>

    <ng-template #createEmployee>
      <div class="h2 mb-24">
        Create New Employee
      </div>
    </ng-template>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         fxFlex="1 0 auto">

      <mat-form-field appearance="outline"
                      fxFlex="25"
                      class="pr-8">
        <mat-label>Employee ID</mat-label>
        <input matInput
               formControlName="eid"
               required>
        <mat-error>EID is Required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="35"
                      class="pr-8">
        <mat-label>First name</mat-label>
        <input matInput
               formControlName="firstName"
               required>
        <mat-icon matSuffix
                  class="secondary-text">account_circle</mat-icon>
        <mat-error>First Name is required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="40">
        <mat-label>Last name</mat-label>
        <input matInput
               formControlName="lastName"
               required>
        <mat-icon matSuffix
                  class="secondary-text">account_circle</mat-icon>
        <mat-error>Last Name is required!</mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         fxFlex="1 0 auto">

      <mat-form-field appearance="outline"
                      fxFlex="70"
                      class="pr-8">
        <mat-label>Email Address</mat-label>
        <input matInput
               formControlName="email"
               required>
        <mat-icon matSuffix
                  class="secondary-text">email</mat-icon>
        <mat-error>Email Address is required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="30">
        <mat-label>Nickname</mat-label>
        <input matInput
               formControlName="nickname">
        <mat-icon matSuffix
                  class="secondary-text">account_circle</mat-icon>
      </mat-form-field>


    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         fxFlex="1 0 auto">

      <mat-form-field appearance="outline"
                      fxFlex="70"
                      class="pr-8">
        <mat-label>Phone #</mat-label>
        <input matInput
               formControlName="phone">
        <mat-icon matSuffix
                  class="secondary-text">phone</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="30">
        <mat-label>Ext</mat-label>
        <input matInput
               formControlName="ext">
        <mat-icon matSuffix
                  class="secondary-text">contact_phone</mat-icon>
      </mat-form-field>

    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         fxFlex="1 0 auto">

      <mat-form-field appearance="outline"
                      fxFlex="50"
                      class="pr-8">
        <mat-label>Department</mat-label>
        <mat-select formControlName="department"
                    (selectionChange)="filterJobTitlesByDepartment($event.value)"
                    required>
          <mat-option *ngFor="let department of departments"
                      [value]="department">
            {{department}}
          </mat-option>
        </mat-select>
        <mat-error>Department is required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="50">
        <mat-label>Title</mat-label>
        <mat-select formControlName="jobTitle"
                    required>
          <mat-option *ngFor="let jobTitle of jobTitles"
                      [value]="jobTitle">
            {{jobTitle}}
          </mat-option>
        </mat-select>
        <mat-error>Title is required!</mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         fxFlex="1 0 auto">

      <mat-form-field appearance="outline"
                      fxFlex="50"
                      class="pr-8">
        <mat-label>Classification</mat-label>
        <mat-select formControlName="jobClassification">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let jobClassification of jobClassifications"
                      [value]="jobClassification">
            {{jobClassification}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="50">
        <mat-label>Team</mat-label>
        <input matInput
               formControlName="team">
        <mat-icon matSuffix
                  class="secondary-text"
                  svgIcon="account-group"></mat-icon>
      </mat-form-field>

    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         fxFlex="1 0 auto">

      <mat-form-field appearance="outline"
                      fxFlex="50"
                      class="pr-8">
        <mat-label>Hire Date</mat-label>
        <input matInput
               [matDatepicker]="hireDate"
               formControlName="hireDate">
        <mat-datepicker-toggle matSuffix
                               class="secondary-text"
                               [for]="hireDate"></mat-datepicker-toggle>
        <mat-datepicker #hireDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      fxFlex="50"
                      *ngIf="adminUser">
        <mat-label>Birthday</mat-label>
        <input matInput
               [matDatepicker]="birthdate"
               formControlName="birthdate">
        <mat-datepicker-toggle matSuffix
                               class="secondary-text"
                               [for]="birthdate"></mat-datepicker-toggle>
        <mat-datepicker #birthdate></mat-datepicker>
      </mat-form-field>

    </div>

    <mat-form-field appearance="outline">
      <mat-label>Manager</mat-label>
      <input type="text"
             matInput
             formControlName="manager"
             [matAutocomplete]="manager"
             required>
      <mat-autocomplete autoActiveFirstOption
                        [displayWith]="displayManagerName"
                        #manager="matAutocomplete">
        <mat-option *ngFor="let employee of filteredEmployees | async"
                    [value]="employee">
          {{employee.displayName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div fxLayout="row"
         fxLayoutAlign="center start"
         fxLayoutGap="30px">
      <button mat-raised-button
              type="submit"
              color="accent"
              [disabled]="employeeForm.invalid">
        <span *ngIf="selectedEmployee; else createEmployeeButton">
          Update Employee</span>

        <ng-template #createEmployeeButton>
          <span>Create New Employee</span>
        </ng-template>

      </button>
      <button mat-raised-button
              *ngIf="adminUser"
              type="button"
              color="warn"
              (click)="deleteEmployee(selectedEmployee)"
              [disabled]="!selectedEmployee">
        <span>
          Delete Employee</span></button>
    </div>

  </form>
</div>
