room {
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: table;
  position: absolute;
  white-space: nowrap;

  .room {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    span {
      background: #dcdcdc;
      border-radius: 5px;
      font-size: 11px;
      padding: 4px 5px;
      text-align: center;
      text-transform: capitalize;
    }
  }

  &.vert .room {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }
}
