<div fxLayout="row"
     fxLayoutAlign="space-between center"
     fxFlex>
  <div fxLayout="row"
       fxLayoutAlign="center center"
       fxFlex>
    <img class="avatar"
         src="/avatars/employees/{{employee.image}}">

    <div class="employee-info"
         fxFlex
         fxFlexLayout="column">

      <div class="display-name">
        {{employee.displayName}}
      </div>

      <div class="job-title">
        <span *ngIf="employee.jobClassification">{{employee.jobClassification}}</span>
        {{employee.jobTitle}}
      </div>

    </div>
  </div>

</div>