@import 'src/@fuse/scss/fuse';

employee-list-item {
  display: block;
  position: relative;
  padding: 16px 16px 16px 24px;
  border-bottom: 1px solid;
  text-transform: none;
  cursor: pointer;
  flex-shrink: 0;

  &.active {
    background-color: rgba(0, 0, 0, .04);
  }

  .avatar {
    width: 50px;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .employee-info {
    margin: 0 16px 0 8px;

    .display-name {
      font-size: 15px;
      font-weight: 500;
    }

    .job-title {
      margin-top: 4px;
    }
  }

  .message-box {
    width: 170px;
  }
}
