<div class="secondary-text mat-headline mb-0">
  <div class="mb-12">
    {{date | date:'EEEE'}}
  </div>
  <div fxLayout="row"
       fxLayoutAlign="start start">
    <span> {{date | date:'MMMM'}}</span>
    <span class="ml-8"> {{date | date:'d'}}</span>
    <span class="mat-subheading-1">{{ordinalIndicator}}</span>
  </div>
</div>
<events></events>
<anniversaries></anniversaries>
<birthdays></birthdays>
