<div id="reset-password"
     fxLayout="column">

  <div id="reset-password-form-wrapper"
       fxLayout="column"
       fxLayoutAlign="center center">

    <div id="reset-password-form"
         [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/wtw-lg-2.png">
      </div>

      <div class="title">RESET YOUR PASSWORD</div>

      <form name="resetPasswordForm"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="resetPassword()"
            novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput
                 type="password"
                 formControlName="password">
          <mat-icon matSuffix
                    class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password (Confirm)</mat-label>
          <input matInput
                 type="password"
                 formControlName="passwordConfirm">
          <mat-icon matSuffix
                    class="secondary-text">vpn_key</mat-icon>
          <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
            Password confirmation is required
          </mat-error>
          <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                     resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
            Passwords must match
          </mat-error>
        </mat-form-field>

        <button mat-raised-button
                class="submit-button"
                color="accent"
                aria-label="RESET MY PASSWORD"
                [disabled]="resetPasswordForm.invalid">
          RESET MY PASSWORD
        </button>
      </form>

      <div class="login"
           fxLayout="row"
           fxLayoutAlign="center center">
        <a class="link"
           [routerLink]="'/pages/auth/login'">Go back to login</a>
      </div>

    </div>

  </div>

</div>