<!-- SIDEBAR HEADER -->
<div fxLayout="column"
     fxLayoutAlign="space-between start"
     class="header accent p-24 pb-4">

</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content"
     fusePerfectScrollbar
     [@animate]="{value:'*',params:{y:'50px'}}">

  <div class="nav">
    <div class="nav-subheader accent">
      <mat-icon class="mr-16">filter_list</mat-icon>Filters
    </div>

    <form name="filterForm"
          [formGroup]="filterForm">
      <div class="filter-select">
        <mat-form-field>
          <mat-select placeholder="Department"
                      formControlName="department"
                      (selectionChange)="filterEmployeesBy($event.value, 'department')">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let department of departmentFilters"
                        [value]="department.toLowerCase()">
              {{department}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-select">
        <mat-form-field>
          <mat-select placeholder=" Development Team"
                      formControlName="team"
                      (selectionChange)="filterEmployeesBy($event.value, 'team')">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let team of teamFilters"
                        [value]="team.toLowerCase()">
              {{team}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>

</div>
<!-- / SIDEBAR CONTENT -->
