employee-sidebar {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;

  .header {
    height: 120px !important;
    min-height: 120px !important;
    max-height: 120px !important;

    .logo {
      .logo-icon {
        margin: 0 16px 0 0;
      }

      .logo-text {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .account {
      width: 100%;
    }
  }

  .nav .nav-subheader {
    font-size: 18px;
    height: 58px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .filter-select .mat-form-field {
    display: block;
    font-size: 13px;
    padding: 0 20px;

    .mat-option-text {
      font-size: 13px;
    }

    .mat-select-value-text {
      line-height: 1.5em;
    }
  }
}
