<div *ngIf="!filteredEmployees"
     fxLayout="column"
     fxLayoutAlign="start center">
  <span class="no-employees-text hint-text">Search for employees</span>
</div>
<div class="employee-list"
     fusePerfectScrollbar
     [@animateStagger]="{value:'50'}">
  <restore-employee-list-item class="employee-list-item"
                              *ngFor="let employee of filteredEmployees"
                              [employee]="employee"
                              (click)="selectEmployee(employee)"
                              matRipple
                              [@animate]="{value:'*',params:{y:'100%'}}">
  </restore-employee-list-item>
</div>