restore-employee-list {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  position: relative;
  padding: 0;
  border-right: 1px solid;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .no-employees-text {
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
  }
}
