@import 'src/@fuse/scss/fuse';

featured-employee {
  .fuse-card {
    cursor: pointer;
  }

  .header {
    padding: 5px 12px 5px 20px;

    mat-icon {
      color: #a1e6ff;
    }
  }

  .fe-info {
    width: 154px;
    max-width: 154px;

    .fe-name {
      line-height: 22px;
      font-weight: 800;
    }

    .fe-title {
      line-height: 18px;
    }
  }

  .fe-avatar {
    border: 5px solid rgba(0, 171, 242, 1);
    border-radius: 50%;

    img {
      border: 5px solid transparent;
      border-radius: 50%;
      width: 96px;
      min-width: 96px;
      height: 96px;
      line-height: 96px;
    }
  }

  .spec-row-1 {
    margin-bottom: 18px;

    .yos {
      div {
        text-align: center;
      }

      div:first-child {
        border: 10px solid #dcf6ff;
        border-radius: 50%;
        font-size: 30px;
        font-weight: 500;
        height: 90px;
        width: 90px;
        line-height: 60px;
      }

      div:nth-child(2) {
        font-size: 12px;
        margin-top: -34px;
      }
    }

    .location {
      div {
        text-align: center;
      }

      div:first-child {
        font-size: 24px;
        font-weight: 500;

        sup {
          font-size: 14px;
          font-weight: normal;
        }
      }

      div:nth-child(2) {
        font-size: 12px;
      }
    }
  }

  .spec-row-2 {
    div {
      text-align: center;
    }

    div:first-child {
      font-size: 24px;
      font-weight: 500;
    }

    div:nth-child(2) {
      font-size: 12px;
    }
  }

  .spec-row-3 {
    div {
      text-align: center;
    }

    div:first-child {
      font-size: 15px;
      font-style: italic;
      font-weight: 600;
      margin-bottom: 10px;
    }

    div:nth-child(2) {
      font-size: 12px;
    }
  }
}
