<div class="fuse-card"
     *ngIf="featuredEmployee"
     matRipple
     (click)="selectEmployee(featuredEmployee)">
  <div class="header accent"
       fxLayout="row"
       fxLayoutAlign="space-between center">
    <div class="fe-info">
      <div class="mb-8"
           fxLayout="row"
           fxLayoutAlign="start center">
        <mat-icon class="s-20 mr-4">star</mat-icon>
        <span class="font-size-14 m-0">Featured Employee</span>
      </div>
      <div class="mat-title mb-8 fe-name">{{featuredEmployee.displayName}}</div>
      <div class="mat-subheading-1 mb-0 fe-title">
        <span ng-if="featuredEmployee.jobClassification">{{featuredEmployee.jobClassification}}</span>
        {{featuredEmployee.jobTitle}}
      </div>
    </div>
    <div class="fe-avatar ml-16">
      <img src="/avatars/employees/{{featuredEmployee.image}}"
           [alt]="featuredEmployee.displayName" />
    </div>
  </div>

  <div>
    <div class="spec-row-1 p-12"
         fxLayout="row"
         fxLayoutAlign="center end"
         fxFlexFill>
      <div class="yos"
           fxFlex="50"
           fxLayout="column"
           fxLayoutAlign="start center"
           [innerHTML]="featuredEmployee.employmentLength | safe: 'html'"></div>
      <div class="location"
           fxFlex="50"
           fxLayout="column"
           fxLayoutAlign="start center"
           [innerHTML]="featuredEmployee.location | safe: 'html'"></div>
    </div>
    <div class="spec-row-2 accent-50 p-12"
         fxFlexFill>
      <div>{{featuredEmployee.department}}</div>
      <div>Department</div>
    </div>
    <div *ngIf="featuredEmployee.funFact"
         class="spec-row-3 p-12">
      <div class="accent-fg">
        {{featuredEmployee.funFact}}
      </div>
      <div>Fun Fact</div>
    </div>
  </div>
</div>
