:host {
  width: 100%;
}
.employee-avatar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 20px;
  .avatar {
    cursor: pointer;
    margin: 0 0 20px;
    width: 128px;
    min-width: 128px;
    height: 128px;
    line-height: 128px;
  }

  input {
    display: none;
  }
}
