<div class="employee-avatar"
     *ngIf="!selectedEmployee"
     fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="20px">
  <img class="avatar"
       src="/avatars/employees/profile.png"
       [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">

  <p class="mt-0 mb-20">Create a new employee to assign them an avatar.</p>
</div>

<div class="employee-avatar"
     *ngIf="selectedEmployee"
     fxLayout="column"
     fxLayoutAlign="start center"
     fxLayoutGap="20px">
  <img *ngIf="!croppingImage"
       class="avatar"
       src="/avatars/employees/{{selectedEmployee.image}}"
       (click)="fileInput.click()"
       [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">

  <button mat-button
          class="mb-0"
          *ngIf="!croppingImage"
          (click)="fileInput.click()">
    Update Avatar</button>

  <img *ngIf="croppingImage"
       class="avatar"
       [src]="croppedImage" />

  <button mat-raised-button
          *ngIf="croppingImage"
          color="accent"
          class="submit-button mb-20"
          (click)="uploadAvatar()">
    Save Avatar</button>

  <image-cropper [imageChangedEvent]="imageChangedEvent"
                 [maintainAspectRatio]="true"
                 [aspectRatio]="1/1"
                 [resizeToWidth]="128"
                 [roundCropper]="true"
                 format="png"
                 outputType="base64"
                 (imageCropped)="imageCropped($event)"
                 (imageLoaded)="imageLoaded()"
                 (loadImageFailed)="loadImageFailed()"
                 style="max-height: 33vh"
                 [style.display]="cropperReady ? null : 'none'"></image-cropper>

  <input type="file"
         (change)="fileChangeEvent($event)"
         accept=".jpg, .jpeg, .png"
         #fileInput />
</div>