<div id="forgot-password"
     fxLayout="column">

  <div id="forgot-password-form-wrapper"
       fxLayout="column"
       fxLayoutAlign="center center">

    <div id="forgot-password-form"
         [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/wtw-lg-2.png">
      </div>

      <div *ngIf="!emailSent">

        <div class="title">RECOVER YOUR PASSWORD</div>

        <form name="forgotPasswordForm"
              [formGroup]="forgotPasswordForm"
              (ngSubmit)="sendResetPasswordEmail()"
              novalidate>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput
                   formControlName="email">
            <mat-icon matSuffix
                      class="secondary-text">mail</mat-icon>
            <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <button mat-raised-button
                  class="submit-button"
                  color="accent"
                  aria-label="SEND RESET LINK"
                  [disabled]="forgotPasswordForm.invalid">
            SEND RESET LINK
          </button>
        </form>

      </div>

      <div *ngIf="emailSent">
        <div class="title">CHECK YOUR EMAIL</div>
        <p>If the email you provided was registered with the directory, we just
          sent you instructions on how to reset your password.</p>
      </div>

      <div class="login"
           fxLayout="row"
           fxLayoutAlign="center center">
        <a class="link"
           [routerLink]="'/pages/auth/login'">Go back to login</a>
      </div>

    </div>

  </div>

</div>