<div *ngIf="events.length">
  <h2>Events</h2>
  <div class="card">
    <div class="p-12"
         fxLayout="column"
         fxLayoutAlign="start start"
         matRipple
         (click)="goToCalendar()"
         *ngFor="let event of events">
      <div fxLayout="row"
           fxLayoutAlign="start start">
        <span class="cal-event"
              [ngStyle]="{'background-color': event.color.primary}"></span>
        <span fxFlex
              class="mat-subheading-1 mb-0">{{event.title}}</span>
      </div>
      <span class="mat-body-2 ml-20">{{event.start | date: 'h:mm a' |
        lowercase}}</span>
    </div>
  </div>
</div>