@import 'src/@fuse/scss/fuse';

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  padding: 0;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  @include media-breakpoint(gt-sm) {
    @include mat-elevation(1);
  }

  > div {
    cursor: pointer;
    flex: 0 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &:last-child {
      border-bottom: none;
    }

    .cal-event {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
      margin-top: 6px;
    }
  }
}
