// Import Fuse core library
@import '@fuse/scss/core';

// Import app.theme.scss
@import 'app/app.theme';

snack-bar-container {
  &.error {
    background-color: #f44336 !important;
  }

  &.success {
    background-color: #4caf50 !important;
  }
}

$wtw-purple: #702082;

.nav-link-icon {
  svg {
    // transform: scale(1.25);

    g {
      transform: scale(0.75);
    }
  }
}

fuse-sidebar.navbar-fuse-sidebar.folded:not(.unfolded) navbar navbar-vertical-style-1 .navbar-scroll-container .navbar-content {
  padding-top: 32px !important;
}

.fuse-card>img:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* Anuglar material input element fixes */
body.theme-default .mat-input-element {
  line-height: 1em;
}

mat-autocomplete+.mat-form-field-label-wrapper .mat-form-field-label {
  line-height: 1.2em;
}
