@import 'src/@fuse/scss/fuse';

#homepage {
  .center {
    background-color: #e6e6e6;

    .header {
      // background: #1a237e;
      // background: linear-gradient(to right, #0e2a3b 0, #34306b 100%);
      position: relative;
      flex: 1 0 auto;
      text-align: center;
      overflow: hidden;

      @include media-breakpoint('xs') {
        height: 240px;
        padding: 16px;
      }

      .hero-text {
        .hero-icon {
          position: absolute;
          top: -12px;
          left: 0px;
          opacity: 0.04;
          font-size: 170px !important;
          width: 170px !important;
          height: 170px !important;
        }

        h1 {
          font-size: 40px;
          font-weight: 300;
          letter-spacing: 0.01em;
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;

          @include media-breakpoint('xs') {
            font-size: 24px;
          }
        }

        h3 {
          max-width: 480px;
          text-align: center;
          font-weight: 300;
          letter-spacing: 0.03em;
          margin: 0;

          @include media-breakpoint('xs') {
            font-size: 14px;
          }
        }
      }
    }

    .content {
      background-color: #e6e6e6;

      >* {
        margin-bottom: 16px;
      }
    }
  }
}
