<div id="homepage"
     class="page-layout simple right-sidebar inner-scroll">

  <!-- SIDEBAR -->
  <fuse-sidebar class="sidebar"
                name="home-sidebar"
                position="left"
                lockedOpen="gt-md"
                [@animate]="{value:'*',params:{delay:'100ms', x:'50px'}}">

    <!-- SIDEBAR CONTENT -->
    <div class="content p-24 pr-0"
         fusePerfectScrollbar>
      <today></today>
    </div>
    <!-- / SIDEBAR CONTENT -->

  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center"
       fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24"
         fxLayout="column"
         fxLayoutAlign="center center">

      <div class="hero-text">
        <mat-icon class="hero-icon">people</mat-icon>
        <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
          WELCOME TO <span *ngIf="!pingpong">THE DIRECTORY</span>
          <span *ngIf="pingpong">PING PONG</span>
        </h1>
      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div *ngIf="!pingpong"
         class="content p-24"
         fxLayout="row wrap"
         fxLayoutAlign="start start"
         fxLayoutGap="20px"
         [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">

      <featured-employee></featured-employee>
      <meeting-rooms></meeting-rooms>
      <div fxLayout="column"
           fxLayoutAlign="start start">
        <quicklinks class="mb-20"></quicklinks>
        <suggestion-box></suggestion-box>
      </div>
    </div>
    <div *ngIf="pingpong"
         class="content p-24"
         fxLayout="row"
         fxLayoutAlign="center start">
      <ping-pong-video></ping-pong-video>
    </div>
    <!-- / CONTENT -->

  </div>
  <!-- / CENTER -->

</div>
