<div class="mat-body-1 text-center mb-24">{{committee.description}}</div>

<div fxLayout="row wrap"
     fxLayoutAlign="center start"
     fxFlexFill
     [@animateStagger]="{value:'50'}">

  <mat-card class="employee-card"
            *ngFor="let employee of committee.members"
            (click)="viewEmployeeProfile(employee)"
            matRipple
            [@animate]="{value:'*',params:{y:'100%'}}">
    <img mat-card-image
         src="/avatars/employees/{{employee.image}}"
         alt="{{employee.displayName}}">
    <mat-card-content>
      <div class="p-4 text-center name">
        <div class="font-size-12 font-weight-500">{{employee.displayName}}</div>
        <div class="font-size-10 text-center">
          <span *ngIf="employee.jobClassification">{{employee.jobClassification}}</span>
          {{employee.jobTitle}}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
