@import 'src/app/shared/scss/employee-card';

.year-slider {
  padding: 20px 40px;

  mat-slider {
    width: 100%;
  }
}

.button-container {
  width: 400px;
}

.year-button {
  margin-bottom: 20px;
}
