<div class="page-layout simple left-sidebar inner-scroll">

  <!-- SIDEBAR -->
  <fuse-sidebar class="sidebar"
                name="seniority-sidebar"
                position="left"
                lockedOpen="gt-md">

    <!-- SIDEBAR CONTENT -->
    <div class="content p-24"
         fusePerfectScrollbar>
      <seniority-sidebar [yearsOfService]="yearsOfService"></seniority-sidebar>
    </div>
    <!-- / SIDEBAR CONTENT -->

  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center"
       fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header accent p-24"
         fxLayout="row"
         fxLayoutAlign="start center">

      <button mat-icon-button
              class="sidebar-toggle mr-8"
              fxHide.gt-md
              (click)="toggleSidebar('seniority-sidebar')">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo"
           fxLayout="row"
           fxLayoutAlign="start center">
        <mat-icon class="mr-16"
                  [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                  svgIcon="certificate"></mat-icon>
        <span class="logo-text h1"
              [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Employee Seniority <span *ngIf="selectedYear">({{selectedYear}}+
            Years)</span>
        </span>
      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <!-- Show Years -->
    <div class="year-slider">
      <mat-slider class="example-margin"
                  [max]="yearsOfService[yearsOfService.length - 1]"
                  [min]="0"
                  [step]="1"
                  [thumbLabel]="true"
                  [tickInterval]="1"
                  [(ngModel)]="selectedYear"
                  (input)="selectYear($event.value)">
      </mat-slider>
    </div>

    <div *ngIf="!selectedYear"
         fxLayout="column"
         fxLayoutAlign="center center"
         fxFlex>
      <mat-icon class="s-120 mb-12 select-employee-icon hint-text"
                [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">date_range
      </mat-icon>
      <span class="hint-text mat-h1 select-employee-text"
            [@animate]="{value:'*',params:{delay:'400ms'}}">
        Select a Seniority Level
      </span>
      <div class="button-container"
           fxLayout="row wrap"
           fxLayoutAlign="center center"
           fxLayoutGap="20px"
           [@animate]="{value:'*',params:{delay:'500ms'}}">
        <button class="year-button"
                mat-raised-button
                color="accent"
                (click)="selectYear(year)"
                *ngFor="let year of yearsOfService">{{year}}+ Years</button>
      </div>
    </div>

    <!-- Show Employees -->
    <div *ngIf="selectedYear"
         class="content p-24">
      <div fxLayout="row wrap"
           fxLayoutAlign="center start"
           fxFlexFill
           [@animateStagger]="{value:'50'}">

        <mat-card class="employee-card"
                  *ngFor="let employee of sortedEmployees[selectedYear]"
                  (click)="viewEmployeeProfile(employee)"
                  matRipple
                  [@animate]="{value:'*',params:{y:'100%'}}">
          <div class="header-text">{{employee.hireDate | date:
            'mediumDate'}}</div>
          <img mat-card-image
               src="/avatars/employees/{{employee.image}}"
               alt="{{employee.displayName}}">
          <mat-card-content>
            <div class="p-4 text-center name">
              <div class="font-size-12 font-weight-500">{{employee.displayName}}</div>
              <div class="font-size-10 text-center">
                <span *ngIf="employee.jobClassification">{{employee.jobClassification}}</span>
                {{employee.jobTitle}}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- / CONTENT -->

  </div>
  <!-- / CENTER -->

</div>
